<div id="tasks" class="w-full">
    <app-common-header primaryText="Las actividades de la materia son:" [secondaryText]="subject.name"/>
    <div class="grid justify-end py-4">
      <button
        type="button"
        class="self-end text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-sm rounded-lg text-sm px-5 py-2 text-center me-2 mb-2"
      >
        Agregar nueva tarea
      </button>
    </div>
    @for (task of tasks; track task.id) {
        <app-task [task]="task" />
    }
  </div>